build/
dist/
out/
bin/
obj/

node_modules/
vendor/
.venv/
env/
venv/

.idea/
.vscode/
*.suo
*.user
*.sln
*.code-workspace

.DS_Store
Thumbs.db

*.log
logs/

*.cache
*.bak
*.tmp
temp/
tmp/

*.pid
*.seed
*.pid.lock